[toolchain]
anchor_version = "0.30.1"

[features]
skip-lint = false

[programs.mainnet]
# legaldid = "将在部署时生成"
legal_attestation = "4L4PvfugSGXuosyZSQxGxL5B9WqhUVqMEfwqMEUdUGiW"

[programs.devnet]
legaldid = "BdpQjvCSSQ3UKxuPU75DAHhCvZXharVhu39TxVL1EvtJ"
legal_attestation = "4L4PvfugSGXuosyZSQxGxL5B9WqhUVqMEfwqMEUdUGiW"

[programs.testnet]
legaldid = "3WaA2C9VRHczjqcdVgWw8Ug2VfoCVbCzEp9bwPPG6Qj6"
legal_attestation = "4L4PvfugSGXuosyZSQxGxL5B9WqhUVqMEfwqMEUdUGiW"

[programs.localnet]
legaldid = "JCo8dShYwHu74UpBTmwUcoEcGgWZQWnoTCvFaqjGJ6fc"
legal_attestation = "4L4PvfugSGXuosyZSQxGxL5B9WqhUVqMEfwqMEUdUGiW"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/svm/legal-attestation.test.ts"
test-legaldid = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/svm/legaldid.test.ts"
test-attestation = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/svm/legal-attestation.test.ts"
test-schemas = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/svm/attestation-schemas.test.ts"
test-all = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/svm/*.test.ts"

[test]
startup_wait = 120000

[test.validator]
url = "https://solana-devnet.g.alchemy.com/v2/d7CkzFLMTtJttwjFJHPYe"

[[test.validator.clone]]
address = "ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL" # associated-token

[[test.validator.clone]]
address = "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb" # Token-2022

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s" # token-metadata (可选，保留兼容)

[[test.validator.clone]]
address = "22zoJMtdu4tQc2PzL74ZUT7FrwgB1Udec8DdW4yw4BdG" # Solana Attestation Service (SAS)
