[toolchain]
anchor_version = "0.31.1"

[features]
skip-lint = false

[programs.mainnet]
rnsdid_core = "3WaA2C9VRHczjqcdVgWw8Ug2VfoCVbCzEp9bwPPG6Qj6"

[programs.devnet]
rnsdid_core = "JCo8dShYwHu74UpBTmwUcoEcGgWZQWnoTCvFaqjGJ6fc"

[programs.testnet]
rnsdid_core = "3WaA2C9VRHczjqcdVgWw8Ug2VfoCVbCzEp9bwPPG6Qj6"

[programs.localnet]
rnsdid_core = "JCo8dShYwHu74UpBTmwUcoEcGgWZQWnoTCvFaqjGJ6fc"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/14_optimized_flow.test.ts"

# 运行单个测试
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/1_initialize.test.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/4_airdrop.test.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/6_burn.test.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/7_revoke.test.ts"
# test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/12_simple_num_test.test.ts"

[test]
startup_wait = 120000

[test.validator]
url = "https://solana-devnet.g.alchemy.com/v2/d7CkzFLMTtJttwjFJHPYe"

[[test.validator.clone]]
address = "ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL" # associated-token

[[test.validator.clone]]
address = "TokenzQdBNbLqP5VEhdkAS6EPFLC1PHnBqCXEpPxuEb" # Token-2022

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s" # token-metadata (可选，保留兼容)
